* {
    color: lightgray;
    font-family: Arial, sans-serif;
}

.container {
    width: 800px;
    margin: 0 auto;
}

ul, ol, p, a {
    font-size: larger;
}

ul, ol {
    list-style-position: inside;
    display: block;
    border-radius: 30px;
    text-align: left;
    background-color: rgb(50, 50, 50);
    line-height: 2;
    padding: 10px;
}

body {
    background-color: rgb(27, 27, 27);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 450px;
}